<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Nodeux</title>
<link rel="stylesheet" href="<%= ejs_helpers.assemble_css_link('reset.css') %>">
<link rel="stylesheet" href="<%= ejs_helpers.assemble_css_link('main.css') %>">
<link rel="stylesheet" href="<%= ejs_helpers.assemble_css_link('articles.css') %>">
<link rel="stylesheet" href="<%= ejs_helpers.assemble_css_link('article.css') %>">
<link rel="stylesheet" href="<%= ejs_helpers.assemble_css_link('dracula.css') %>">
<link rel="icon" type="image/png" href="<%= ejs_helpers.assemble_img_link('favicon.png')%>" />
<meta name="viewport" content="width=device-width, initial-scale=1">